*{
    padding:0;
    margin-left: 0;
    margin-right: 0px;
    background-color: indigo;
}
#calc {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color:white;
    color: grey;
    border-style: solid;
    
}
#row1{
    display: inline-flex;
    padding-bottom: 3%;
    background-color:white;
}
#valorTotal, #horas,#diasE, #diasF{
    border-radius: 7px;
    margin-inline: 10px;
    font-family: Maven Pro; 
    background-color:white;
    
}


#button{
    border-radius: 10px;
    width: 120px;
    margin-bottom: 10px;
    background-color:white;
    color: grey;


}
#row2{
    display: inline-flex;
    padding-bottom: 3%;
    background-color:white;
}
i{
    margin-top: 20px;
    text-align: center;
    font-size: 1.6em;
    font-family: Maven Pro;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:white;
    
}
#resultado{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color:white;
    color: grey;
    border-style: solid;
    margin-top: 10px;

}
#result{
    background-color:white;
}


