* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}

body {
    background-color: #8f64c8;
}

.container {
    height: 630px;
    width: 530px;
    position: absolute;
    background-color: #37264e;
    z-index: 10;
    top: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    color: white;
}

.calc {
    background-color: #37264e;
}

h3 {
    text-align: center;
}

.inputs {
    background-color: transparent;
    width: 400px;
    position: relative;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
}

#valorTotal {
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

#horas {
    background-color: transparent;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

#diasE {
    background-color: transparent;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

#diasF {
    background-color: transparent;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

#button {
    margin-top: 50px;
    width: 400px;
    margin-left: 12%;
    height: 40px;
    border: none;
    background-color: #6a38ad;
    color: white;
}

::placeholder {
    color: white;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

#result {
    margin-top: 30px;
    text-align: center;
}

.logo {
    display: flex;
    margin-left: 35%;
}

.teste {
    display: none;
}

input:focus+.teste {
    display: flex;
}